html,
body {
  overflow: auto;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-wrap {
  /* background: #e5eaf0; */
  /* background: #f0e2f8; */
  /* background: #c8b6d4; */
  /* background: #f2f2f0; */
  background: #ededf5;
  min-height: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
