@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");

html,
body {
  height: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Nunito", serif;
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-start: 0;
}

ul > li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

*::marker {
  display: none;
}

.app {
  display: grid;
  height: 100%;
}

.app__inner {
  background: #523857;
}

.media-streems {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 30%));
  grid-gap: 40px;
  grid-auto-flow: dense;
  justify-content: center;
  justify-items: center;
}

.media-block {
  width: 100%;
  height: 100%;
  position: relative;
}

.media-block__peer-name {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background: #eac57d;
  padding: 5px 10px;
  border-radius: 15px;
}

.media-block__peer-name.self {
  transform: translate(-50%, 0);
  background: #f07488;
}

.media-elem {
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.media-elem__self {
  transform: scaleX(-1);
}

.btn {
  background: #806491;
  outline: none;
  color: #fff;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.1s ease-in-out;
  padding: 0 40px;
  line-height: 53px;
  font-size: 14px;
}

.btn.btn_icon {
  font-size: 16px;
  font-size: 16px;
  line-height: 1;
  height: 40px;
  display: inline-block;
  width: 40px;
  padding: 0;
}

.btn:disabled {
  background-color: transparent;
  color: #999;
  border-color: #999;
}

.btn:hover:not(:disabled) {
  background: #7c5495;
}

.btn:active:not(:disabled) {
  background: rgb(107, 71, 130);
}

.vr-input > input {
  max-width: 100%;
  width: 100%;
  border: 0 none;
  padding: 0 10px;
  background: #fff;
  color: #666;
  border: 1px solid #e5e5e5;
  transition: 0.2s ease-in-out;
  transition-property: color, background-color, border;
  outline: 0;

  height: 60px;
  vertical-align: middle;
  display: inline-block;
  font-size: 18px;
}

/* Палитра */

/*
#BF8709
#EAC57D
#B9BBDE
#807490
#523857 
*/

:root {
  --animate-duration: 0.5s;
  --animate-delay: 0.5s;
  --animate-repeat: 1;
}

.animate__animated {
  animation-duration: var(--animate-duration);
  animation-fill-mode: both;
  animation-iteration-count: var(--animate-repeat);
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

.animate__zoomIn {
  animation-name: zoomIn;
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}

.animate__zoomOut {
  animation-name: zoomOut;
}

.action-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px 0 20px;
}

.action-panel__center-group {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  flex: 1;
}

.dashboard,
.room {
  height: 100%;
}

.dashboard__content {
  display: flex;
  column-gap: 10px;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}

.room {
  --actin-height: 100px;
  --row-gap: 20px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows:
    minmax(auto, calc(100vh - var(--actin-height) - var(--row-gap)))
    100px;
  row-gap: var(--row-gap);
}

.room__media {
  overflow: auto;
}

.room__action,
.room__media,
.room__media .simplebar-content-wrapper {
  display: grid;
  align-items: center;
}

.media-module {
  display: grid;
  grid-template-rows: minmax(56%, auto) 50px;
  grid-template-columns: auto;
  grid-template-areas:
    "preview"
    "content";
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 30px;
}
.media-module__background {
  background: hsl(290.32deg 26.73% 20.5%);
  position: absolute;
  width: calc(100% - 30px);
  height: 90%;
  bottom: 0;
  right: 0;
  border-radius: 10px;
  transition: all 0.3s ease 0.1s;
}
.media-module__root {
  grid-area: preview;
  opacity: 0.99;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  display: grid;
  align-items: stretch;
}

.media-module__content {
  grid-area: content;
  z-index: 1;
  position: relative;
  padding-left: 20px;
  padding-top: 10px;
  color: #fff;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.media-module:hover .media-module__background {
  width: 100%;
  height: 100%;
}

.media-module__popup {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 1rem 1rem 1rem 30%;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  transition-duration: 0.45s;
  transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
  transition-property: opacity;
  overflow: hidden;
  border-radius: inherit;
}

.media-module__popup:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom left,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.2),
    transparent 49%
  );
  opacity: 0.8;
  transition: inherit;
  transform: scale(0.9);
  transform-origin: top right;
  transition-property: opacity, transform;
}

.media-module:hover .media-module__popup {
  opacity: 1;
}

.media-module__actions {
  display: flex;
  column-gap: 15px;
}

.media-module__spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0%, -50%);
  font-size: 40px;
  color: #fff;
}

.simplebar-placeholder {
  width: 100% !important;
}
