.PeersListContainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  max-height: 300px;
}

.ListItem {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
  padding-right: 5px;
}

.BoxIcon {
  display: flex;
  align-items: center;
  margin-left: auto;
  &.color-green {
    color: #34be09;
  }
  &.color-grey {
    color: var(--gray-400);
  }
}

.PeerName {
  min-width: 0;
  flex: 1 0 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
