.ActionsPanel {
  flex: 0 0 auto;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 0 15px;
  min-width: 0;
  & > * {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
}

.IconButton {
  background-color: #3c2647;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 12px;
  cursor: pointer;
  &:hover {
    background-color: #452c52;
  }

  &.color-red {
    color: rgb(237, 52, 52);
  }

  &:disabled {
    background-color: #414040;
    cursor: auto;
  }
}

@media (max-width: 585px) {
  .mobile-hidden {
    display: none;
  }
}
