.SelectWrapper {
  display: block;
  max-width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  position: relative;
  height: 35px;
  z-index: 10;
}

.SelectTrigger {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-width: 0;
  position: relative;
  & > span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.SelectContent {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
  color: var(--violet-11);
  z-index: 10;
}

.SelectViewport {
  max-height: 240px;
  overflow: auto;
  padding: 4px;
}

.SelectItem {
  padding: 6px 8px;
  border-radius: 6px;
  cursor: pointer;
}
.SelectItem[data-highlighted] {
  background: #f2f2f2;
}
.SelectItem[data-state="checked"] {
  font-weight: 600;
}

.SelectContent[role="listbox"] {
  margin: 0;
  padding: 0;
  left: 0;
  max-height: none;
  overflow: visible;
}
.SelectItem[role="option"] {
  margin: 0;
}

.SelectTrigger:hover {
  background-color: var(--mauve-3);
}

.SelectTrigger[data-placeholder] {
  color: var(--violet-9);
}

.SelectIcon {
  color: Var(--violet-11);
}
