.DialogOverlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  background-color: #fcfcfc;
  border-radius: 6px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 500px;
  max-height: 85vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  color: #111;
  z-index: 3;
}

.DialogContent:focus {
  outline: none;
}

.DialogActions {
  display: flex;
  margin-top: 25px;
  justify-content: flex-end;
  column-gap: 20px;
}

.DialogTitle {
  color: #111;
  margin: 0;
  font-weight: 700;
  font-size: 22px;
}

.DialogDescription {
  margin: 10px 0 20px;
  font-size: 15px;
  line-height: 1.5;
}

.DialogClose {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.fields-container {
  margin: 25px 0;
}

@media (max-width: 578px) {
  .DialogActions {
    justify-content: space-between;
    & > * {
      flex: 1 0 0%;
      width: 100%;
      min-width: 0 !important;
    }
  }
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
