@use "../../../variables.style" as *;

.Button {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-family: var(--font-family);
  font-size: 14px;

  &.variant-classic {
    border: 1px solid $btn-bg-color;
  }

  &.variant-outline {
    border: 1px solid $btn-bg-color;
    color: #111;
  }

  &.size-medium {
    height: 32px;
    font-weight: 500;
    padding: 5px 12px 5px 12px;
    min-width: 120px;
  }

  &.size-smal {
    height: 24px;
  }

  &.size-large {
    height: 48px;
    padding: 8px 30px 8px 30px;
    min-width: 190px;
  }

  &.color-default {
    background: $btn-bg-color;
    color: #fff;
    &:hover:not(:disabled) {
      background: $btn-bg-color-hover;
      border-color: $btn-bg-color-hover;
    }
  }

  &:disabled {
    background-color: transparent;
    color: #999;
    border-color: #999;
  }

  &:not(:disabled) {
    cursor: pointer;
  }
}
