.MediaSettings {
  background-color: #e2e2e2;
  padding: 15px 10px;
  border-radius: 8px;
  position: relative;
}

.MediaSettingsRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.MediaSettingsLoader {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #9e9e9e;
  left: 0;
  top: 0;
  z-index: 11;
  border-radius: inherit;
  opacity: 0.9;
}
