.MediaSettings {
  background-color: var(--gray-200);
  padding: 15px 10px;
  border-radius: 8px;
  position: relative;
}

.MediaSettingsRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.MediaSettingsLoader {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--gray-400);
  left: 0;
  top: 0;
  z-index: 11;
  border-radius: inherit;
  opacity: 1;
}

.end-item {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 7px;
}
