@use "../../variables.style" as *;

.Participant {
  position: relative;
  // background: #3f2244;
  background: $partipicat-bg-color;
  border-radius: 6px;
  min-height: 0;
  max-height: 100%;
  min-width: 100%;
  overflow: hidden;
  aspect-ratio: 16 / 9;
  display: flex;
  align-items: center;
  justify-content: center;

  &:not(.video-active) {
    & .MediaRenderer {
      display: none;
    }
  }

  &.video-active {
    & .ParticipantLabel {
      display: none;
    }
  }

  &.audio-active {
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: calc(100%);
      height: calc(100%);
      left: 0;
      top: 0;
      border: 5px solid green;
      z-index: 10;
      border-radius: inherit;
    }
  }

  & .ParticipantInfo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
    font-size: 20px;
    background-color: green;
    padding: 5px 25px;
    border-radius: 20px;
    text-align: center;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    max-width: 90%;
    & > .ParticipantInfoMic {
      flex: 0 0 auto;
      display: flex;
    }
    & > .ParticipantInfoName {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  & .LowSignalBlock {
    position: absolute;
    display: flex;
    z-index: 10;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    backdrop-filter: blur(8px);
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    & .quality {
      &.good {
        color: green;
      }
      &.medium {
        color: orange;
      }
      &.bad {
        color: red;
      }
      &.very-bad {
        color: red;
      }
    }
  }
}

@media (max-width: 900px) {
  .Participant {
    & .ParticipantInfo {
      bottom: 10px;
      font-size: 12px;
      padding: 5px 15px;
    }
  }
}

@media (max-width: 578px) {
  .Participant {
    aspect-ratio: auto;
  }
}
