.Participant {
  position: relative;
  background: #3f2244;
  border-radius: 12px;
  min-height: 0;
  max-height: 100%;
  min-width: 100%;
  overflow: hidden;
  aspect-ratio: 16 / 9;
  display: flex;
  align-items: center;
  justify-content: center;

  &:not(.video-active) {
    & .MediaRenderer {
      display: none;
    }
  }

  &.video-active {
    & .ParticipantLabel {
      display: none;
    }
  }

  & .ParticipantInfo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px;
    font-size: 20px;
    background-color: green;
    padding: 5px 45px;
    border-radius: 20px;
    text-align: center;
    font-size: 15px;
  }
}
