.Room {
  display: flex;
  flex-direction: column;
}

.MediaCanvas {
  flex: 1 0 0%;
  width: 100%;
  padding: 20px;
  min-height: 0;
  max-height: calc(100vh - 80px);
  display: grid;
  align-content: center;
  grid-auto-columns: 1fr;
  grid-template-rows: 1fr;
  position: relative;
}

.MediaSlider {
  width: 100%;
  height: 100%;
}

.MediaSlide.swiper-slide {
  display: grid;
  gap: 10px;
  margin-block: auto;
  align-content: center;
  grid-template-columns: repeat(auto-fit, minmax(calc(25vw - 40px), 0.5fr));
}
