$font-family: Nunito, serif;
$main-bg-color: var(--slate-950);
$base-font-size: 16px;

$main-font-color: var(--white);
$second-font-color: var(--dark);

$partipicat-bg-color: var(--slate-800);

$iconBtn-bg-color: var(--blue-800);
$iconBtn-bg-color-hover: var(--blue-700);

$btn-bg-color: var(--blue-700);
$btn-bg-color-hover: var(--blue-600);

// app
:root {
  --font-family: Nunito, serif;
}
// palitre
:root {
  --white: #fff;
  --dark: #111;

  --slate-950: #0e1621;
  --slate-900: #17212b;
  --slate-800: #1b2734;
  --slate-700: #1f2936;
  --slate-600: #14202f;

  --blue-800: #20405e;
  --blue-700: #2b5278;
  --blue-600: #5288c1;

  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;

  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;

  --gray-700: #374151;
  --gray-800: #1f2933;
  --gray-900: #111827;
}
