@use "./variables.style" as *;

* {
  box-sizing: border-box;
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  padding: 0;
  margin: 0;
}

button,
input,
textarea,
fieldset {
  outline: none;
  border: none;
  background: transparent;
}

html,
body {
  font-family: $font-family;
  background: $main-bg-color;
  font-size: $base-font-size;
  color: $base-font-color;
  height: 100%;
  max-height: 100%;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
}

.app {
  display: grid;
  height: 100%;
}

.flex-center-right {
  display: flex;
  align-items: center;
  justify-content: end;
}

.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
