@use "./variables.style" as *;

* {
  box-sizing: border-box;
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  padding: 0;
  margin: 0;
}

*::before,
*::after {
  box-sizing: border-box;
}

button,
input,
textarea,
fieldset {
  outline: none;
  border: none;
  background: transparent;
}

html,
body {
  font-family: $font-family;
  background: $main-bg-color;
  font-size: $base-font-size;
  color: $base-font-color;
  height: 100%;
  max-height: 100%;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
}

.app {
  display: grid;
  height: 100%;
  min-height: 100%;
}

.flex-center-right {
  display: flex;
  align-items: center;
  justify-content: end;
}

.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Col {
  flex: 0 0 auto;
  max-width: 100%;
  &.Col-20 {
    width: 20%;
  }
  &.Col-30 {
    width: 30%;
  }
  &.Col-40 {
    width: 40%;
  }
  &.Col-50 {
    width: 50%;
  }
  &.Col-60 {
    width: 60%;
  }
  &.Col-70 {
    width: 70%;
  }
  &.Col-80 {
    width: 80%;
  }
}

.TextEllipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}
