.Dashboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  &__actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }
}
